{% extends "landing/base.html" %}



{% block style %}
    <style>
        /* Style the Image Used to Trigger the Modal */
        #myImg {
            border-radius: 5px;
            cursor: pointer;
            transition: 0.3s;
        }

        #myImg:hover {opacity: 0.7;}

        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
        }

        /* Modal Content (Image) */
        .modal-content {
            margin: auto;
            display: block;
            width: 80%;
            max-width: 700px;
        }

        /* Caption of Modal Image (Image Text) - Same Width as the Image */
        #caption {
            margin: auto;
            display: block;
            width: 80%;
            max-width: 700px;
            text-align: center;
            color: #ccc;
            padding: 10px 0;
            height: 150px;
        }

        /* Add Animation - Zoom in the Modal */
        .modal-content, #caption {
            animation-name: zoom;
            animation-duration: 0.6s;
        }

        @keyframes zoom {
            from {transform:scale(0)}
            to {transform:scale(1)}
        }

        /* The Close Button */
        .close {
            position: absolute;
            top: 15px;
            right: 35px;
            color: #f1f1f1;
            font-size: 40px;
            font-weight: bold;
            transition: 0.3s;
        }

        .close:hover,
        .close:focus {
            color: #bbb;
            text-decoration: none;
            cursor: pointer;
        }

        /* 100% Image Width on Smaller Screens */
        @media only screen and (max-width: 700px){
            .modal-content {
                width: 100%;
            }
        }
    </style>
{% endblock %}



{% block content %}
    <div style="display: flex; flex-direction: row; margin-top: 5vh; margin-bottom: 5vh;">
        <div style="display: flex; width: 10%;"></div>
        <div style="display: flex; width: 60%;">
            <div style="display: flex; flex-direction: column; width: 90%;">
                <div style="display: flex; height: 50%; flex-direction: column;">
                    <h2 style="color: #2F1487;">Detail Belanja</h2>
                    <hr style="background-color:#D63AF9; width: 100%;">
                    <div class="row">
                        <div class="col">
                            <img id = "myImg" src="{{ barang.imgProduct.url }}" alt="" style="width: 150px; height: 150px;">
                            <!-- The Modal -->
                            <div id="myModal" class="modal">

                                <!-- The Close Button -->
                                <span class="close">&times;</span>

                                <!-- Modal Content (The Image) -->
                                <img class="modal-content" id="img01">
                                
                            </div>
                        </div>
                        <div class="col">
                            <h2>{{ barang.name }}</h2>
                            <h2>IDR {{ barang.price }}</h2>
                            <h2>{{ barang.category }}</h2>
                        </div>
                    </div>
                </div>
                <div style="display: flex; height: 50%;">
                    <form method="POST" style="width: 100%; border-color: #2F1487;">
                        <fieldset disabled>
                            <h2 style="color: #2F1487;">Alamat Pengiriman</h2>
                            <hr style="background-color:#D63AF9;">
                            <div class="row">
                                <div class="col-6">
                                    <label for="disabledTextInput">Nama Penerima</label>
                                    <input type="text" id="disabledTextInput" class="form-control" placeholder="{{ nama }}" style="background-color: #C4C4C4;" >
                                </div>
                                <div class="col-6">
                                    <label for="disabledTextInput">Nomor Telepon</label>
                                    <input type="text" id="disabledTextInput" class="form-control" placeholder="{{ nomor_hp }}" style="background-color: #C4C4C4;">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <label for="disabledTextInput">Provinsi</label>
                                    <input type="text" id="disabledTextInput" class="form-control" placeholder="{{ provinsi }}" style="background-color: #C4C4C4;">
                                </div>
                                <div class="col-6">
                                    <label for="disabledTextInput">Kota / Kabupaten</label>
                                    <input type="text" id="disabledTextInput" class="form-control" placeholder="{{ kota }}" style="background-color: #C4C4C4;">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <label for="disabledTextInput">Kecamatan</label>
                                    <input type="text" id="disabledTextInput" class="form-control" placeholder="{{ kecamatan }}" style="background-color: #C4C4C4;">
                                </div>
                                <div class="col-6">
                                    <label for="disabledTextInput">Kode Pos</label>
                                    <input type="text" id="disabledTextInput" class="form-control" placeholder="{{ pos }}" style="background-color: #C4C4C4;">
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <div style="width: 20%;">
            <div style="display:flex; background-color: #F2D7EE; height: auto; flex-direction: column;">
                <h5 style="color: #2F1487; margin-top: 10px; margin-bottom: 0px; margin-left: 10px;">Ringkasan Belanja</h5>
                <hr style="background-color:#D63AF9; width: 95%; margin-bottom: 10px;">
                <p style="text-align:left; margin-left: 10px; margin-top: 0px;">
                    Kucing Chihuahua
                    <span style="float:right; margin-right: 10px;">
                        IDR {{ harga_barang }}
                    </span>
                </p>
                <p style="text-align:left; margin-left: 10px; margin-top: 0px;">
                    Biaya Pengiriman
                    <span style="float:right; margin-right: 10px;">
                        IDR {{ongkos_kirim}}
                    </span>
                </p>
                <hr style="background-color:#D63AF9; width: 95%; margin-bottom: 10px; margin-top: 0px;">
                <p style="text-align:left; margin-left: 10px; margin-top: 0px;">
                    Total
                    <span style="float:right; margin-right: 10px;">
                        IDR {{ ongkos_kirim|add:harga_barang }} 
                    </span>
                </p>
                <form method="POST" style="margin-left: 10px; margin-bottom: 10px;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-secondary">Lanjut ke pembayaran</button>
                </form>
            </div>  
        </div>
        <div style="display:flex; width: 10%;"></div>
    </div>

    
{% endblock content %}


{% block script %}
    <script>
        $("#myImg").click(function(){
            $("#myModal").css("display", "block")
            $("#img01").attr("src", this.src)
        })

        // When the user clicks on <span> (x), close the modal
        $(".close").click(function(){
            $("#myModal").css("display", "none")
        })
        

        $("#myImg").hover(
            function(){
                $(this).css("transform", "scale(1.5)")
            },
            function(){
                $(this).css("transform", "scale(1.0)")
            }
        )
    </script>
{% endblock script %}