{% load static %}

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #f2d7ee;">
  <a class="navbar-brand" style="padding-top:0; padding-bottom:.65rem;" href="{% url 'landing:index' %}">
  	<img src="{% static 'LogoYourPets.png'%}" alt="" style="max-width:8rem">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'landing:index' %}">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          More
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'list_testimoni' %}">Testimoni</a>
          <a class="dropdown-item" href="{% url 'faq:faq_list' %}">FAQs</a>

          {% if user.is_authenticated %}
          <a class="dropdown-item" href="{% url 'landing:add_my_product' %}">Add Product</a>   
          {% endif %}      
        </div>
      </li>
    </ul>
    {% if user.is_authenticated %}
    <a href="{% url 'landing:logout_account' %}" class="btn btn-outline-danger my-2 my-sm-0" style="margin-right: 10px;">Logout</a>
  
    {% else %}

    <a href="{% url 'landing:login_page' %}" class="btn btn-outline-info my-2 my-sm-0" style="margin-right: 10px;">Login</a>
    <a href="{% url 'landing:signup_page' %}" class="btn btn-outline-info my-2 my-sm-0">Sign Up</a>
           
    {% endif %}
 
  </div>

</nav>
