{% extends 'landing/base.html' %}

{% load static %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'testimoni/css/base.css' %}">
{% endblock style %}

{% block content %}
    {% include 'testimoni/snippets/header.html' %}
    <div class="container-fluid pb-5 pt-5" id="main-content">
        {% if user.is_authenticated %}
            <div class="dflex justify-content-center text-center">
                <button class="text-center btn btn-primary mt-3 px-5" id="form-show">Ingin bertestimoni? Klik saya!</button>
            </div>
            <div class="container-fluid">
                <form method="POST" enctype="multipart/form-data" id="testi-form">
                {% csrf_token %}
                    <div class="d-flex row justify-content-center">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form.nama.errors }}
                                <label for="{{ form.nama.id_for_label }}"><b>{{ form.nama.label_tag }}</b></label>
                                {{ form.nama }}
                            </div> 
                        </div>
                    </div>
                    <div class="d-flex row justify-content-center">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form.testimoni.errors }}
                                <label for="{{ form.testimoni.id_for_label }}"><b>{{ form.testimoni.label_tag }}</b></label>
                                {{ form.testimoni }}
                            </div> 
                        </div>
                    </div>
                    <div class="d-flex row justify-content-center">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form.image.errors }}
                                <label for="{{ form.image.id_for_label }}"><b>{{ form.image.label_tag }}</b></label>
                                {{ form.image }}
                            </div> 
                        </div>
                    </div>
                    <div class="d-flex row justify-content-center">
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-primary float-right mt-3 px-5" id="form_button" style=""><b>Submit</b></button>
                        </div>
                    </div>
                </form>
            </div>
        {% endif %}
        <div class="container">
            <ul class="list-unstyled" id="testimoni-list">
                <!-- This is where testimonies go after fetching with ajax -->
                
            </ul>
            '<div class="line" style= "margin-bottom:10px;"></div>'
        </div>
    </div>
{% endblock content %}

{% block script %}
    <script type="text/javascript" src="{% static 'testimoni/js/testimoni.js' %}"></script>
{% endblock script %}