{% extends 'landing/base.html' %}

{% load static %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
{% endblock style %}

{% block content %}
    <title>Faq</title>
    <h1 class='faqsTitle'>FAQs</h1>
    <p class ='faqs'> Frequently Asked Questions</p>
    <div class="container-fluid" id="main-content">
        <ul class="list-unstyled" id="listOfFaqs">
            <!-- This is where testimonies go after fetching with ajax -->
            
        </ul>
        <div class="line" style= "margin-bottom:10px;" id="lineBawah" style="width:97.5%;"></div>
        <a href="{% url 'faq:new_faq' %}" class="btn" id="buttonSave" style="margin-top:50px; margin-bottom:25px;">Tambah FAQs</a>        
    </div>
{% endblock content %}


{% block script %}
    <script type="text/javascript" src="{% static 'js/faq.js' %}"></script>
{% endblock script %}