{% extends 'landing/base.html' %}

{% load static %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock style %}

{% block content %}
    <h1 class='addFaqs'>Tambah FAQs</h1>
    <div class="containerAdd">
        <form method="POST" class="post-form form-group">
        {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    <h3 class="titlePertanyaan2"> {{ field.label }}</h3>
                    {{ field }}
                </div>
            {% endfor %}
            <button type="submit" class="save btn btn-default" id="buttonSave" style="margin-top:50px; margin-bottom:25px;">Tambah</button>  
        </form>
    </div>
{% endblock content %}

{% block script %}
    <script type="text/javascript" src="{% static 'js/new.js' %}"></script>
{% endblock script %}