{% extends 'landing/base.html' %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/landing.css' %}">

<style>
.img {
    position: relative;
    float: left;
    width:  50vh;
    height: 42vh;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    border-radius: 5%;
}
</style>
{% endblock style %}


{% block content %}

<div class="container" style="margin-bottom: 20px; margin-top: 10px;">
    <div class="page-header">
        <h1>{{ barang.name }}</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <img src="{{ barang.imgProduct.url }}" style="border-radius: 10%;" class="img" alt="Gambar Produk">
        </div>
        <div class="col">
            <form method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-secondary">Beli Produk Ini</button>
            </form>
            <p style="font-size: 3rem;">IDR {{ barang.price }}</p>
        </div>
    </div>        
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <p class="text-center"><br>{{ barang.description }}</p>
        </div>
        <div class="col">
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}


{% endblock script %}