{% extends 'landing/base.html' %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/landing.css' %}">
<link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">

<style>
html{
    font-family: Quicksand, sans-serif;
}

.img {
    position: relative;
    float: left;
    width:  50vh;
    height: 42vh;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    border-radius: 5%;
}

.img_product{
    position: relative;
    float: left;
    width:  255px;
    height: 230px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;

}
</style>
{% endblock style %}


{% block content %}

<div class="container-fluid">
    <p class="text-center" style="font-family:'Quicksand',sans-serif; font-size: 40px; margin:9vh;">Hey there,
        <br>Let's find your pets and their needs here...!!</p>
</div>

<div class="container-fluid" id="newest_product" style="background-color: #F7F4F3;">
    <div>
        <br>
        <h1 style="font-family:'Quicksand Bold', sans-serif; font-size: 30px;">Our Newest Products</h1>
        <br>
    </div>
    
    <div class="row" id="to_be_filled">

    </div>
    <br>

</div>


<div class="container-fluid"  id="for_all_product" style="margin-bottom:5rem;">
    <div>
        <br><br><h1 style="font-family:'Quicksand Bold',sans-serif; font-size: 30px;">All Products</h1><br>
    </div>

    <div class="row">
    {% for product in products %}
        <div class="card mx-3 my-2" style="width: 16rem;">
            <img src="{{ product.imgProduct.url }}" class="img_product card-img-top" alt="Gambar Produk">
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}<br>IDR {{ product.price }}</h5>
                <a href="{% url 'landing:description' product.id %}" class="btn btn-primary pull-right" style="float: left;">Lihat</a>
                <p> </p>
            </div>
        </div>
    {% endfor %}
    </div>
</div>

<img src="" alt="">
{% endblock content %}

{% block script %}


<script>
    jQuery(document).ready(function($){
        $('.img_product').hover(function() {
            $(this).css("cursor", "pointer");
            $(this).toggle({
            effect: "scale",
            percent: "90%"
            },200);
        }, function() {
            $(this).toggle({
            effect: "scale",
            percent: "80%"
            },200);

        });
    
        $.ajax({
            url: "{% url 'landing:ajax_call' %}",
            success : function(result){



                for (i = 0; i < result.length; i++){

                    let this_id = parseInt(result[i].pk);

                    var temp = `<a href="/desc/${this_id}">`;
                    
                    data = 
                        "<div class='col'>" +
                            temp +
                                "<img src=\"media/" + result[i].fields.imgProduct + "\" class=\"img img-thumbnai;\" alt=\"image newest\"/>" +
                            "</a>" + 
                        "</div>";

                    $("#to_be_filled").append(data);


    
    
                }
            }
        })
    })
</script>


{% endblock script %}