{% extends 'landing/base.html' %}

{% load static %}



{% block style %}
<style>
#id_username{
    width: 200px;
    margin-bottom: 15px;
}
#id_password{
    width: 200px;

}
</style>

{% endblock style %}


{% block content %}
<div class="container text-center">
    <h2 style="margin: 20px;">Please Login to Your Account</h2>
    <form action="{% url 'landing:login_page' %}" method="POST">
        {% csrf_token %}
        <div>
            {{ form.username.label_tag }}
            {{ form.username }}
        </div>
        <div>
            {{ form.password.label_tag }}
            {{ form.password }}
        </div>
        
        <button type="submit" class="btn btn-outline-primary btn-sm">Login</button>
    </form>
</div>
{% endblock content %}
{% block script %}

        
{% endblock script %}
