{% extends 'landing/base.html' %}

{% load static %}



{% block style %}
<link href="{% static 'css/signup.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">

<style>
#django_form{
    margin: 10px;
    margin-top: 10px;

}
</style>
{% endblock style %}


{% block content %}
<!--
Author: Colorlib
Author URL: https://colorlib.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->


<div class="main-w3layouts wrapper">
    <h1 id="title_signup">Sign Up a YourPets Account</h1>
    <div class="main-agileinfo">
        <div class="agileits-top">
            <form action="{% url 'landing:signup_page' %}" method="POST">

                {% csrf_token %}
                <div>
                    {{ form.first_name }}

                </div>
                <div>
                    {{ form.last_name }}
                </div>
                <div>
                    {{ form.email }}
                </div>
                <div>
                    {{ form.username }}
                </div>
                <div>
                    {{ form.password1 }}
                </div>
                <div>
                    {{ form.password2 }}
                </div>
                
                <input type="submit" value="SIGNUP">
            </form>
            <p>Already have an Account? <a href="{% url 'landing:login_page' %}"> Login Now!</a></p>
        </div>
    </div>
    <!-- copyright -->
    <div class="colorlibcopy-agile">
        <p>© 2019 YourPets. All rights reserved | Design by <a href="https://colorlib.com/" target="_blank">Colorlib</a></p>
    </div>
    <!-- //copyright -->
    <br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br>
    <br><br><br>
                
    <ul class="colorlib-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>

{% endblock content %}

{% block script %}
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
{% endblock script %}