{% load static %}

<div class="d-flex justify-content-center my-2">
    <a href="{% url 'form_testimoni' %}">
        <button type="button" class="btn btn-primary btn-lg" id="form_button">Beri kami testimoni anda</button>
    </a>
</div>